In [29]:
#Dependencies
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import sklearn
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.cluster import KMeans
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [30]:
#read csv into df
df = pd.read_csv("https://data-finalproject.s3.amazonaws.com/Levels_Fyi_Salary_Data.csv")
# columns to drop... salary_currency, salary, work_year
df.sample(25)

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,...,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education
41740,2/10/2021 21:57:39,Flipkart,SDE 1,Software Engineer,31000,"Bangalore, KA, India",4.0,2.0,Distributed Systems (Back-End),26000.0,...,0,0,0,1,0,0,0,0,Asian,Bachelor's Degree
45000,3/14/2021 23:39:33,Cisco,Software Engineer III,Software Engineer,29000,"Bangalore, KA, India",5.0,5.0,Distributed Systems (Back-End),22000.0,...,0,0,0,0,0,0,0,0,NaN,Master's Degree
18557,3/21/2020 6:25:23,Amazon,L4,Software Engineer,20000,"Bangalore, KA, India",2.0,2.0,Distributed Systems (Back-End),18000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
5734,4/12/2019 14:10:27,Tesla,Senior Engineer,Software Engineer,200000,"Palo Alto, CA",4.0,4.0,Distributed Systems (Back-End),150000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
55822,6/27/2021 23:05:46,Facebook,IC4,Data Scientist,226000,"Fremont, CA",10.0,2.0,Infra,160000.0,...,0,0,0,0,1,0,0,0,White,Master's Degree
412,6/4/2018 20:27:58,Splunk,P2,Software Engineer,160000,"Seattle, WA",5.0,3.0,Full Stack,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
46505,3/29/2021 22:20:08,Google,L6,Software Engineer,409000,"Tel Aviv, TA, Israel",19.0,3.0,ML / AI,204000.0,...,0,0,0,0,1,0,0,0,White,Bachelor's Degree
47833,4/10/2021 23:27:34,Google,L5,Software Engineer,350000,"San Francisco, CA",5.0,5.0,Security,190000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
21043,5/15/2020 18:39:34,Apple,ICT4,Software Engineer,415000,"Cupertino, CA",12.0,3.0,ML / AI,205000.0,...,1,0,0,0,0,0,0,0,NaN,PhD
46674,3/31/2021 15:07:16,Expedia,K,Data Scientist,136000,"Austin, TX",0.0,0.0,General,115000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
56015,6/29/2021 14:42:23,Bank of America,SE3,Software Engineer,130000,"Charlotte, NC",9.0,6.0,Full Stack,128000.0,...,0,0,0,0,1,0,0,0,White,Bachelor's Degree
18985,4/2/2020 9:40:48,Facebook,E5,Software Engineer,361000,"Redmond, WA",17.0,0.0,Full Stack,205000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
55420,6/24/2021 1:26:59,DoorDash,E5,Software Engineer,380000,"San Francisco, CA",2.0,0.0,ML / AI,200000.0,...,1,0,0,1,0,0,0,0,Asian,PhD
54337,6/13/2021 10:01:28,CACI International,Junior,Software Engineer,70000,"Arlington, VA",1.0,0.0,Production,70000.0,...,0,0,0,0,0,1,0,0,Two Or More,Bachelor's Degree
43629,3/2/2021 8:17:29,LinkedIn,Senior Staff Software Engineer,Software Engineer,780000,"Sunnyvale, CA",28.0,10.0,Distributed Systems (Back-End),265000.0,...,0,0,0,0,1,0,0,0,White,Bachelor's Degree
4288,2/12/2019 21:48:30,Bloomberg,Senior Software Engineer,Software Engineer,183000,"New York, NY",2.0,2.0,Full Stack,158000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
40657,1/28/2021 19:01:17,Addepar,L3,Product Designer,165000,"Mountain View, CA",4.0,0.0,User Experience (UX),155000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
18019,3/7/2020 15:53:38,Cerner,Lead Software Engineer,Software Engineer,188000,"San Francisco, CA",6.0,4.0,iOS,140000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
25128,7/28/2020 4:44:13,Adobe,Software Engineer 2,Software Engineer,132000,"Austin, TX",3.0,2.0,API Development (Back-End),108000.0,...,0,0,0,1,0,0,0,0,Asian,Master's Degree
5382,3/31/2019 10:27:34,Yandex,G16,Software Engineer,66000,"Moscow, MC, Russia",5.0,2.0,ML / AI,35000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
21521,5/25/2020 11:05:45,AT Kearney,Manager,Management Consultant,240000,"San Francisco, CA",8.0,4.0,Strategy,180000.0,...,0,0,0,0,0,0,0,0,NaN,Master's Degree
27576,8/24/2020 18:45:11,Deloitte,Consultant,Management Consultant,82000,"Washington, DC",2.0,0.0,Government and Public Services,82000.0,...,0,0,0,0,1,0,0,0,White,Bachelor's Degree
17332,2/23/2020 17:39:34,Google,Staff SWE,Software Engineer,625000,"Mountain View, CA",15.0,9.0,ML / AI,250000.0,...,0,0,0,0,0,0,0,0,NaN,Master's Degree
6014,4/24/2019 7:00:02,BCG Digital Ventures,Lead,Solution Architect,200000,"Los Angeles, CA",15.0,5.0,Distributed Systems (Back-End),0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
4909,3/12/2019 19:36:43,Amazon,L5,Software Engineer,218000,"Seattle, WA",9.0,5.0,Distributed Systems (Back-End),133000.0,...,0,0,0,0,0,0,0,0,NaN,NaN

In [31]:
df.nunique()

timestamp                  62561
company                     1631
level                       2923
title                         15
totalyearlycompensation      893
location                    1050
yearsofexperience             65
yearsatcompany                81
tag                         3058
basesalary                   482
stockgrantvalue              612
bonus                        335
gender                         4
otherdetails               12841
cityid                      1045
dmaid                        149
rowNumber                  62642
Masters_Degree                 2
Bachelors_Degree               2
Doctorate_Degree               2
Highschool                     2
Some_College                   2
Race_Asian                     2
Race_White                     2
Race_Two_Or_More               2
Race_Black                     2
Race_Hispanic                  2
Race                           5
Education                      5
dtype: int64

In [32]:
titles_df = df[df["title"]=="Data Scientist"]
titles_df

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,...,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education
419,6/5/2018 14:06:30,LinkedIn,Senior,Data Scientist,233000,"San Francisco, CA",4.0,0.0,Data Analysis,162000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
440,6/8/2018 9:49:25,Microsoft,64,Data Scientist,218000,"Seattle, WA",11.0,11.0,ML / AI,165000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
444,6/8/2018 17:55:09,ebay,26,Data Scientist,180000,"San Jose, CA",10.0,5.0,NaN,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
454,6/10/2018 19:39:35,Twitter,Staff,Data Scientist,500000,"San Francisco, CA",4.0,4.0,ML / AI,200000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
495,6/17/2018 11:39:38,Facebook,5,Data Scientist,370000,"Seattle, WA",8.0,3.0,NaN,190000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62240,3/26/2019 17:25:02,IBM,8,Data Scientist,155000,"Washington, DC",5.0,2.0,ML / AI,141000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62283,6/17/2018 21:07:18,Facebook,E3,Data Scientist,150000,"Singapore, SG, Singapore",0.0,0.0,ML / AI,150000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62285,7/16/2018 20:11:40,ADP,Sr UX Researcher 4,Data Scientist,185000,"Roseland, NJ",8.0,2.0,UX Research,150000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62529,6/12/2018 20:54:06,Google,T6,Data Scientist,685000,"Kirkland, WA",22.0,2.0,ML / AI,221000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62623,8/19/2018 20:31:37,Illumina,Bioinformatics Scientist II,Data Scientist,175000,"San Diego, CA",6.0,2.0,Bioinformatics,135000.0,...,0,0,0,0,0,0,0,0,NaN,NaN

In [33]:
# df1 = titles_df.copy()
# filtered_columns = ["company", "location", "yearsofexperience", "totalyearlycompensation",
#                  "Masters_Degree", "Bachelors_Degree"]
# df2 = df1[filtered_columns]
# # print(df1.shape)
# df2.head()

In [34]:
clean_df= titles_df.drop(columns=['timestamp', 'level', 'yearsatcompany', 'otherdetails','Highschool', 'Some_College', 
                               'Race_Asian', 'Race_White', 'Race_Two_Or_More', 'Race_Black',"gender",
                              'Race_Hispanic', 'Race', 'Education','cityid','dmaid','rowNumber','tag','bonus','stockgrantvalue','basesalary','title'])
clean_df.head()
#get_dummies/oneHotEncoder on company size and employment type

,company,totalyearlycompensation,location,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree
419,LinkedIn,233000,"San Francisco, CA",4.0,0,0,0
440,Microsoft,218000,"Seattle, WA",11.0,0,0,0
444,ebay,180000,"San Jose, CA",10.0,0,0,0
454,Twitter,500000,"San Francisco, CA",4.0,0,0,0
495,Facebook,370000,"Seattle, WA",8.0,0,0,0

In [35]:
import re
form_state_one = r'(\w+\s)*(\w+),\s([A-Z]{2})$'
matches_form_one = clean_df.location.str.contains(form_state_one, flags=re.IGNORECASE, na=False)
no_form_one = clean_df.location.str.contains(form_state_one, flags=re.IGNORECASE, na=False).sum()
print(no_form_one)

form_state_two = r'(\w+\s)*(\w+),\s([A-Z]{2}),\s(\w+)'
matches_form_two = clean_df.location.str.contains(form_state_two, flags=re.IGNORECASE, na=False)
no_form_two = clean_df.location.str.contains(form_state_two, flags=re.IGNORECASE, na=False).sum()
print(no_form_two)


clean_df.location[~matches_form_one & ~matches_form_two]

2226
351

C:\Users\siriu\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\siriu\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:4: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  after removing the cwd from sys.path.
C:\Users\siriu\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:8: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

C:\Users\siriu\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:9: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  if __name__ == '__main__':

9061    Tel Aviv, Israel
Name: location, dtype: object

In [36]:
clean_df.head()

,company,totalyearlycompensation,location,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree
419,LinkedIn,233000,"San Francisco, CA",4.0,0,0,0
440,Microsoft,218000,"Seattle, WA",11.0,0,0,0
444,ebay,180000,"San Jose, CA",10.0,0,0,0
454,Twitter,500000,"San Francisco, CA",4.0,0,0,0
495,Facebook,370000,"Seattle, WA",8.0,0,0,0

In [37]:
def US_location_to_state(city):
    # if input is of the form $###,###,###
    if re.match(form_state_one, city, flags=re.IGNORECASE):

        # remove city name and commas
        state = re.sub('(\w+\s)*(\w+),\s','', city)
        
        # return state
        return state
    # otherwise, return NaN
    else:
        return np.nan
    

def location_to_city(city):
    # if input is of the form $###,###,###
    if re.match(form_state_one, city, flags=re.IGNORECASE):

        # remove city name and commas
        city = re.sub(',\s([A-Z]{2})$','', city)
        
        # return state
        return city
    # otherwise, return NaN
    else:
        return np.nan
clean_df = clean_df.loc[clean_df.location != "Tel Aviv, Israel"]
clean_df

,company,totalyearlycompensation,location,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree
419,LinkedIn,233000,"San Francisco, CA",4.0,0,0,0
440,Microsoft,218000,"Seattle, WA",11.0,0,0,0
444,ebay,180000,"San Jose, CA",10.0,0,0,0
454,Twitter,500000,"San Francisco, CA",4.0,0,0,0
495,Facebook,370000,"Seattle, WA",8.0,0,0,0
...,...,...,...,...,...,...,...
62240,IBM,155000,"Washington, DC",5.0,0,0,0
62283,Facebook,150000,"Singapore, SG, Singapore",0.0,0,0,0
62285,ADP,185000,"Roseland, NJ",8.0,0,0,0
62529,Google,685000,"Kirkland, WA",22.0,0,0,0
62623,Illumina,175000,"San Diego, CA",6.0,0,0,0

In [38]:
clean_df['state'] = clean_df.location.str.extract(f'({form_state_one}|{form_state_two})', flags=re.IGNORECASE)[0].apply(US_location_to_state)

In [39]:
clean_df = clean_df[clean_df['state'].notna()]
clean_df.head()

,company,totalyearlycompensation,location,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree,state
419,LinkedIn,233000,"San Francisco, CA",4.0,0,0,0,CA
440,Microsoft,218000,"Seattle, WA",11.0,0,0,0,WA
444,ebay,180000,"San Jose, CA",10.0,0,0,0,CA
454,Twitter,500000,"San Francisco, CA",4.0,0,0,0,CA
495,Facebook,370000,"Seattle, WA",8.0,0,0,0,WA

In [40]:
clean_df['city'] = clean_df.location.str.extract(f'({form_state_one})', flags=re.IGNORECASE)[0].apply(location_to_city)
clean_df.drop('location', axis=1, inplace=True)
clean_df.drop('city', axis=1, inplace=True)
clean_df.head()

C:\Users\siriu\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\siriu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,company,totalyearlycompensation,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree,state
419,LinkedIn,233000,4.0,0,0,0,CA
440,Microsoft,218000,11.0,0,0,0,WA
444,ebay,180000,10.0,0,0,0,CA
454,Twitter,500000,4.0,0,0,0,CA
495,Facebook,370000,8.0,0,0,0,WA

In [41]:
print(clean_df["company"].value_counts().head(10))

Amazon          224
Microsoft       202
Facebook        175
Google           83
Apple            75
Uber             60
IBM              58
Capital One      44
LinkedIn         34
Walmart Labs     33
Name: company, dtype: int64

In [42]:
# #Binning he companies- .cut with 4 bins...do we want to specifically design these?
# bin_labels = ['Small', 'Medium', 'Large']
# bins3 = clean_df['company'].value_counts()
# company_bins = pd.cut(bins3, labels=bin_labels).to_list()#does this solve the issue of imbalanced data?
# company_bins

In [43]:
#Binning he companies- .cut with 4 bins...do we want to specifically design these?
bin_labels = ['Small', 'Medium', 'Large', 'Very Large']
bins4 = clean_df['company'].value_counts()
company_bins = pd.cut(bins4, bins=4, labels=bin_labels).to_list()#does this solve the issue of imbalanced data?
company_bins

['Very Large',
 'Very Large',
 'Very Large',
 'Medium',
 'Medium',
 'Medium',
 'Medium',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small']

In [44]:
#change company name to bin name
companies = []
for company in clean_df['company']:
    if company == "Amazon" or company == "Microsoft" or company == "Facebook":
        company = "Large"
    elif company == "Google" or company == "Apple" or company == "IBM" or company=="Uber":
        company = "Medium"
    else:
        company = "Small"
    companies.append(company)

In [45]:
#reassign company column to bin name
clean_bins_df = clean_df.copy()
clean_bins_df['company'] = companies
clean_bins_df.head(10)
# clean_bins_df['gender'].value_counts()

,company,totalyearlycompensation,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree,state
419,Small,233000,4.0,0,0,0,CA
440,Large,218000,11.0,0,0,0,WA
444,Small,180000,10.0,0,0,0,CA
454,Small,500000,4.0,0,0,0,CA
495,Large,370000,8.0,0,0,0,WA
499,Large,200000,3.0,0,0,0,WA
509,Large,340000,11.0,0,0,0,WA
510,Medium,690000,10.0,0,0,0,WA
513,Small,600000,3.0,0,0,0,CA
523,Small,168000,8.0,0,0,0,CA

In [46]:
clean_dummies = pd.get_dummies(data=clean_bins_df, columns=['company', 'state'])#drop the gender columns?
clean_dummies.head(15)

,totalyearlycompensation,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree,company_Large,company_Medium,company_Small,state_AL,state_AR,...,state_OR,state_PA,state_RI,state_SC,state_TN,state_TX,state_UT,state_VA,state_WA,state_WI
419,233000,4.0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
440,218000,11.0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
444,180000,10.0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
454,500000,4.0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
495,370000,8.0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
499,200000,3.0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
509,340000,11.0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
510,690000,10.0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
513,600000,3.0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
523,168000,8.0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
535,187000,4.0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
570,225000,11.0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
668,220000,6.0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
673,130000,7.0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
740,112000,4.0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0

In [27]:
clean_dummies.corr(method ='kendall')

,totalyearlycompensation,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree,company_Large,company_Medium,company_Small,state_AL,state_AR,...,state_OR,state_PA,state_RI,state_SC,state_TN,state_TX,state_UT,state_VA,state_WA,state_WI
totalyearlycompensation,1.000000,0.294166,-0.069762,-0.095127,0.170405,0.171009,0.099680,-0.222606,-0.017385,0.000062,...,-0.029886,-0.054373,-0.026613,-0.007531,-0.038135,-0.138639,-0.030524,-0.118682,0.072512,-0.027560
yearsofexperience,0.294166,1.000000,0.026833,-0.025244,-0.022686,0.028119,0.018678,-0.038146,0.039918,0.055414,...,0.024439,-0.003060,-0.000430,0.026414,0.017126,-0.029778,-0.037067,-0.005570,0.046376,-0.003099
Masters_Degree,-0.069762,0.026833,1.000000,-0.188774,-0.238420,-0.039257,-0.027079,0.053932,0.002888,0.047693,...,-0.047280,-0.038999,0.013292,0.032585,0.029677,0.046768,-0.027604,0.005897,-0.050967,0.013292
Bachelors_Degree,-0.095127,-0.025244,-0.188774,1.000000,-0.126861,-0.023549,0.024090,0.005147,-0.010863,-0.002629,...,0.045744,0.008479,-0.008868,-0.006269,0.034168,0.066049,0.065467,0.057783,-0.033673,-0.008868
Doctorate_Degree,0.170405,-0.022686,-0.238420,-0.126861,1.000000,0.021178,0.045521,-0.049945,0.051834,-0.034130,...,0.080750,0.014108,-0.012865,-0.009095,-0.015760,-0.037016,-0.018202,0.005783,0.003254,0.028518
company_Large,0.171009,0.028119,-0.039257,-0.023549,0.021178,1.000000,-0.228796,-0.754252,-0.022341,-0.048382,...,-0.074602,-0.023428,-0.018237,-0.012893,0.005241,-0.091159,-0.001911,-0.068255,0.560624,-0.018237
company_Medium,0.099680,0.018678,-0.027079,0.024090,0.045521,-0.228796,1.000000,-0.466599,-0.013821,-0.029930,...,-0.046150,-0.034907,-0.011282,0.056350,-0.013821,0.014245,-0.015962,-0.041398,-0.131675,-0.011282
company_Small,-0.222606,-0.038146,0.053932,0.005147,-0.049945,-0.754252,-0.466599,1.000000,0.029620,0.064145,...,0.098908,0.044830,0.024179,-0.026293,0.004560,0.073217,0.012502,0.089936,-0.420554,0.024179
state_AL,-0.017385,0.039918,0.002888,-0.010863,0.051834,-0.022341,-0.013821,0.029620,1.000000,-0.002923,...,-0.004506,-0.003409,-0.001102,-0.000779,-0.001350,-0.007139,-0.001559,-0.005032,-0.018492,-0.001102
state_AR,0.000062,0.055414,0.047693,-0.002629,-0.034130,-0.048382,-0.029930,0.064145,-0.002923,1.000000,...,-0.009759,-0.007382,-0.002386,-0.001687,-0.002923,-0.015460,-0.003375,-0.010898,-0.040046,-0.002386
state_AZ,-0.074613,0.006972,0.040420,-0.000984,-0.032881,-0.046611,-0.028835,0.061798,-0.002816,-0.006098,...,-0.009402,-0.007111,-0.002298,-0.001625,-0.002816,-0.014894,-0.003252,-0.010499,-0.038580,-0.002298
state_CA,0.329667,0.008810,-0.032740,-0.054028,0.039510,-0.165889,0.225610,-0.001446,-0.031990,-0.069277,...,-0.106821,-0.080797,-0.026114,-0.018461,-0.031990,-0.169218,-0.036947,-0.119285,-0.438332,-0.026114
state_CO,-0.045852,0.012258,0.030710,-0.030215,-0.043834,-0.052133,0.001998,0.046018,-0.003754,-0.008129,...,-0.012534,-0.009481,-0.003064,-0.002166,-0.003754,-0.019856,-0.004335,-0.013997,-0.051433,-0.003064
state_CT,-0.052207,-0.014078,0.016118,0.012897,-0.024095,-0.034157,-0.021130,0.045286,-0.002063,-0.004468,...,-0.006890,-0.005211,-0.001684,-0.001191,-0.002063,-0.010914,-0.002383,-0.007694,-0.028272,-0.001684
state_DC,-0.116657,0.008624,0.018126,0.007560,-0.041266,-0.076898,-0.022116,0.084784,-0.005094,-0.011032,...,-0.017011,-0.012867,-0.004159,-0.002940,-0.005094,-0.026948,-0.005884,-0.018996,-0.069804,-0.004159
state_DE,-0.040265,-0.004030,-0.010109,-0.014031,0.005836,-0.028855,-0.017850,0.038256,-0.001743,-0.003775,...,-0.005820,-0.004402,-0.001423,-0.001006,-0.001743,-0.009220,-0.002013,-0.006499,-0.023883,-0.001423
state_FL,-0.050568,-0.011093,0.000383,0.004839,0.026803,-0.040853,-0.025273,0.054164,-0.002468,-0.005344,...,-0.008240,-0.006233,-0.002014,-0.001424,-0.002468,-0.013054,-0.002850,-0.009202,-0.033814,-0.002014
state_GA,-0.087657,0.006507,0.023321,-0.006947,0.012501,-0.029098,0.001818,0.025211,-0.004366,-0.009454,...,-0.014578,-0.011027,-0.003564,-0.002519,-0.004366,-0.023094,-0.005042,-0.016279,-0.059820,-0.003564
state_ID,-0.044008,0.015428,0.002888,-0.010863,-0.015760,-0.022341,-0.013821,0.029620,-0.001350,-0.002923,...,-0.004506,-0.003409,-0.001102,-0.000779,-0.001350,-0.007139,-0.001559,-0.005032,-0.018492,-0.001102
state_IL,-0.113757,-0.029496,0.045501,0.047088,-0.021007,-0.083316,-0.037082,0.100709,-0.005454,-0.011810,...,-0.018211,-0.013774,-0.004452,-0.003147,-0.005454,-0.028848,-0.006299,-0.020336,-0.074727,-0.004452
state_IN,-0.059275,-0.036091,0.018806,0.026460,-0.018202,-0.025803,-0.015962,0.034210,-0.001559,-0.003375,...,-0.005205,-0.003937,-0.001272,-0.000899,-0.001559,-0.008245,-0.001800,-0.005812,-0.021357,-0.001272
state_KS,0.014643,0.031233,0.032585,-0.006269,-0.009095,-0.012893,-0.007976,0.017093,-0.000779,-0.001687,...,-0.002601,-0.001967,-0.000636,-0.000449,-0.000779,-0.004120,-0.000899,-0.002904,-0.010671,-0.000636
state_KY,-0.028867,0.028661,-0.013793,0.071691,-0.009095,-0.012893,-0.007976,0.017093,-0.000779,-0.001687,...,-0.002601,-0.001967,-0.000636,-0.000449,-0.000779,-0.004120,-0.000899,-0.002904,-0.010671,-0.000636
state_MA,-0.057675,-0.011554,0.001027,-0.024885,0.057685,-0.022609,-0.067789,0.066264,-0.006619,-0.014335,...,-0.022104,-0.016719,-0.005403,-0.003820,-0.006619,-0.035015,-0.007645,-0.024683,-0.090700,-0.005403
state_MD,-0.039886,0.005127,-0.004399,0.065467,-0.018202,-0.025803,-0.015962,0.034210,-0.001559,-0.003375,...,-0.005205,-0.003937,-0.001272,-0.000899,-0.001559,-0.008245,-0.001800,-0.005812,-0.021357,-0.001272
state_MI,-0.054474,0.026408,0.005788,-0.021771,0.002282,-0.044773,-0.009082,0.046805,-0.002705,-0.005857,...,-0.009031,-0.006831,-0.002208,-0.001561,-0.002705,-0.014306,-0.003124,-0.010085,-0.037058,-0.002208
state_MN,-0.074381,-0.024975,0.020497,0.033226,-0.027334,-0.038748,-0.002490,0.036884,-0.002341,-0.005069,...,-0.007816,-0.005912,-0.001911,-0.001351,-0.002341,-0.012381,-0.002703,-0.008728,-0.032072,-0.001911
state_MO,-0.032749,-0.021199,-0.027604,0.065467,0.011074,-0.025803,0.016223,0.012502,-0.001559,-0.003375,...,-0.005205,-0.003937,-0.001272,-0.000899,-0.001559,-0.008245,-0.001800,-0.005812,-0.021357,-0.001272
state_MS,-0.029705,-0.017072,0.032585,-0.006269,-0.009095,-0.012893,-0.007976,0.017093,-0.000779,-0.001687,...,-0.002601,-0.001967,-0.000636,-0.000449,-0.000779,-0.004120,-0.000899,-0.002904,-0.010671,-0.000636
state_NC,-0.087973,0.005380,-0.006620,-0.036275,0.049971,-0.066229,-0.012313,0.068478,-0.004506,-0.009759,...,-0.015048,-0.011382,-0.003679,-0.002601,-0.004506,-0.023838,-0.005205,-0.016804,-0.061748,-0.003679
state_NH,-0.030030,-0.029057,-0.013793,-0.006269,-0.009095,-0.012893,-0.007976,0.017093,-0.000779,-0.001687,...,-0.002601,-0.001967,-0.000636,-0.000449,-0.000779,-0.004120,-0.000899,-0.002904,-0.010671,-0.000636
state_NJ,-0.031742,0.015733,0.018072,-0.026700,-0.011046,-0.054909,-0.033968,0.072800,-0.003317,-0.007183,...,-0.011076,-0.008377,-0.002708,-0.001914,-0.003317,-0.017545,-0.003831,-0.012368,-0.045449,-0.002708
state_NM,-0.024365,-0.024040,-0.013793,-0.006269,-0.009095,-0.012893,-0.007976,0.017093,-0.000779,-0.001687,...,-0.002601,-0.001967,-0.000636,-0.000449,-0.000779,-0.004120,-0.000899,-0.002904,-0.010671,-0.000636
state_NV,-0.031605,-0.012634,0.013292,0.046271,-0.012865,-0.018237,-0.011282,0.024179,-0.001102,-0.002386,...,-0.003679,-0.002782,-0.000899,-0.000636,-0.001102,-0.005827,-0.001272,-0.004108,-0.015095,-0.000899
state_NY,-0.084425,-0.063661,0.032338,0.023772,-0.060371,-0.084588,-0.032126,0.098522,-0.013184,-0.028552,...,-0.044025,-0.033300,-0.010762,-0.007608,-0.013184,-0.069742,-0.015227,-0.049162,-0.180654,-0.010762
state_OH,-0.075648,0.000511,-0.014464,0.018268,-0.034130,-0.048382,0.004555,0.040886,-0.002923,-0.006329,...,-0.009759,-0.007382,-0.002386,-0.001687,-0.002923,-0.015460,-0.003375,-0.010898,-0.040046,-0.002386
state_OK,-0.008243,-0.011575,0.013292,-0.008868,0.028518,0.015537,-0.011282,-0.006507,-0.001102,-0.002386,...,-0.003679,-0.002782,-0.000899,-0.000636,-0.001102,-0.005827,-0.001272,-0.004108,-0.015095,-0.000899
state_OR,-0.029886,0.024439,-0.047280,0.045744,0.080750,-0.074602,-0.046150,0.098908,-0.004506,-0.009759,...,1.000000,-0.011382,-0.003679,-0.002601,-0.004506,-0.023838,-0.005205,-0.016804,-0.061748,-0.003679
state_PA,-0.054373,-0.003060,-0.038999,0.008479,0.014108,-0.023428,-0.034907,0.044830,-0.003409,-0.007382,...,-0.011382,1.000000,-0.002782,-0.001967,-0.003409,-0.018030,-0.003937,-0.012710,-0.046705,-0.002782
state_RI,-0.026613,-0.000430,0.013292,-0.008868,-0.012865,-0.018237,-0.011282,0.024179,-0.001102,-0.002386,...,-0.003679,-0.002782,1.000000,-0.000636,-0.001102,-0.005827,-0.001272,-0.004108,-0.015095,-0.000899
state_SC,-0.007531,0.026414,0.032585,-0.006269,-0.009095,-0.012893,0.056350,-0.026293,-0.000779,-0.001687,...,-0.002601,-0.001967,-0.000636,1.000000,-0.000779,-0.004120,-0.000899,-0.002904,-0.010671,-0.000636
state_TN,-0.038135,0.017126,0.029677,0.034168,-0.015760,0.005241,-0.013821,0.004560,-0.001350,-0.002923,...,-0.004506,-0.003409,-0.001102,-0.000779,1.000000,-0.007139,-0.001559,-0.005032,-0.018492,-0.001102
state_TX,-0.138639,-0.029778,0.046768,0.066049,-0.037016,-0.091159,0.014245,0.073217,-0.007139,-0.015460,...,-0.023838,-0.018030,-0.005827,-0.004120,-0.007139,1.000000,-0.008245,-0.026619,-0.097817,-0.005827
state_UT,-0.030524,-0.037067,-0.027604,0.065467,-0.018202,-0.001911,-0.015962,0.012502,-0.001559,-0.003375,...,-0.005205,-0.003937,-0.001272,-0.000899,-0.001559,-0.008245,1.000000,-0.005812,-0.021357,-0.001272
state_VA,-0.118682,-0.005570,0.005897,0.057783,0.005783,-0.068255,-0.041398,0.089936,-0.005032,-0.010898,...,-0.016804,-0.012710,-0.004108,-0.002904,-0.005032,-0.026619,-0.005812,1.000000,-0.068953,-0.004108
state_WA,0.072512,0.046376,-0.050967,-0.033673,0.003254,0.560624,-0.131675,-0.420554,-0.018492,-0.040046,...,-0.061748,-0.046705,-0.015095,-0.010671,-0.018492,-0.097817,-0.021357,-0.068953,1.000000,-0.015095
state_WI,-0.027560,-0.003099,0.013292,-0.008868,0.028518,-0.018237,-0.011282,0.024179,-0.001102,-0.002386,...,-0.003679,-0.002782,-0.000899,-0.000636,-0.001102,-0.005827,-0.001272,-0.004108,-0.015095,1.000000

In [ ]:
clean_bins_df.corr(method ='kendall')

In [47]:
clean_dummies.to_csv("Cleaned_dataset.csv", sep=',', header=True, encoding='utf-8', index=False)

In [19]:
# #is there linearity between location numerical representation and salary?
# clean_bins2 = clean_bins_df.drop(['location'], axis = 1)
# locations = clean_bins_df['location']
# clean_bins2.head()

In [ ]:
# #Create label Encoder and encode categorical
# from sklearn.preprocessing import LabelEncoder
# lb_make = LabelEncoder()
# clean_bins2['company']= lb_make.fit_transform(clean_bins2['company'])
# clean_bins2['gender']= lb_make.fit_transform(clean_bins2['gender'])

# clean_bins2.head()

In [ ]:
# clean_bins2['gender'].value_counts() #what do we do with 4 genders?