In [136]:
#Dependencies
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import sklearn
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.cluster import KMeans
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [137]:
#read csv into df
df = pd.read_csv("https://data-finalproject.s3.amazonaws.com/Levels_Fyi_Salary_Data.csv")
# columns to drop... salary_currency, salary, work_year
df.sample(25)

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,...,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education
43778,3/3/2021 15:03:06,Wipro Limited,B2,Software Engineer,130000,"Austin, TX",15.0,0.0,iOS,120000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
48482,4/16/2021 0:12:17,Publicis Sapient,L2,Software Engineer,19000,"Gurgaon, HR, India",4.0,1.0,API Development (Back-End),19000.0,...,0,0,0,1,0,0,0,0,Asian,Bachelor's Degree
44507,3/10/2021 6:28:42,Booz Allen Hamilton,Senior Consultant,Software Engineer,94000,"Herndon, VA",3.0,1.0,Full Stack,94000.0,...,0,0,0,0,1,0,0,0,White,Bachelor's Degree
16877,2/15/2020 16:41:27,Ericsson,L8,Software Engineer,151000,"Ottawa, ON, Canada",25.0,1.0,Security,135000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
26095,8/9/2020 12:39:03,Amazon,L4,Software Engineer,162000,"Sunnyvale, CA",0.0,0.0,Full Stack,128000.0,...,0,0,0,1,0,0,0,0,Asian,Master's Degree
30241,9/17/2020 21:13:13,Twitter,L5,Product Designer,262000,"San Francisco, CA",6.0,4.0,User Experience (UX),174000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
35873,11/23/2020 14:39:22,Humana,1,Data Scientist,135000,"Boston, MA",5.0,1.0,Data,125000.0,...,1,0,0,1,0,0,0,0,Asian,PhD
53051,6/1/2021 13:28:17,Deloitte,Consultant,Management Consultant,58000,"Toronto, ON, Canada",2.0,2.0,Mergers & Acquisitions,58000.0,...,0,0,0,1,0,0,0,0,Asian,Bachelor's Degree
29727,9/12/2020 15:22:43,Mphasis,7,Business Analyst,97000,"New York, NY",17.0,13.0,Product,97000.0,...,0,0,0,1,0,0,0,0,Asian,Master's Degree
54319,6/12/2021 23:49:42,Xendit,6,Software Engineer,40000,"Jakarta, JK, Indonesia",9.0,1.0,API Development (Back-End),40000.0,...,0,0,0,1,0,0,0,0,Asian,Bachelor's Degree
45418,3/18/2021 18:21:22,Capital One,Associate,Business Analyst,100000,"Washington, DC",1.0,1.0,General,92000.0,...,0,0,0,0,1,0,0,0,White,Bachelor's Degree
13897,12/11/2019 9:06:53,Barclays,Assistant Vice-President,Software Engineer,154000,"Whippany, NJ",8.0,5.0,Distributed Systems (Back-End),150000.0,...,0,0,0,0,0,0,0,0,NaN,Master's Degree
41917,2/12/2021 21:14:48,Amazon,SDE I,Software Engineer,150000,"Seattle, WA",0.0,0.0,Full Stack,116000.0,...,0,0,0,0,1,0,0,0,White,Bachelor's Degree
8948,7/20/2019 17:27:06,Amazon,L6,Software Engineering Manager,300000,"Seattle, WA",6.0,6.0,Full Stack,160000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
56394,7/1/2021 23:18:58,Snowflake,IC3,Software Engineer,332000,"San Mateo, CA",4.0,0.0,QRE,180000.0,...,0,0,0,0,0,0,1,0,Black,Bachelor's Degree
8517,7/9/2019 15:20:41,Amazon,L5,Data Scientist,180000,"Seattle, WA",4.0,0.0,ML / AI,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
4022,1/31/2019 22:35:50,amazon,l5,Software Engineer,150000,"Seattle, WA",6.0,6.0,Distributed Systems (Back-End),0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
14901,1/13/2020 0:46:33,Cisco,Software Engineer III,Software Engineer,155000,"San Jose, CA",5.0,3.0,API Development (Back-End),135000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
60830,8/9/2021 19:57:47,Grubhub,Senior,Product Manager,166000,"New York, NY",6.0,2.0,Technical,148000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
48866,4/19/2021 18:00:30,Wayfair,L2,Business Analyst,124000,"Boston, MA",2.0,2.0,Business Intelligence,108000.0,...,0,0,0,1,0,0,0,0,Asian,Master's Degree
31142,9/27/2020 18:33:36,Google,L3,Software Engineer,179000,"New York, NY",0.0,0.0,API Development (Back-End),129000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
14826,1/10/2020 17:31:43,Cerner,Associate Senior Software Engineer,Software Engineer,79000,"Kansas City, MO",4.0,3.0,Full Stack,79000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
19663,4/16/2020 17:13:20,Microsoft,Senior SDE,Software Engineer,230000,"Redmond, WA",20.0,0.0,ML / AI,155000.0,...,1,0,0,0,0,0,0,0,NaN,PhD
44893,3/13/2021 11:04:28,Bloomberg,TL,Software Engineering Manager,400000,"New York, NY",10.0,10.0,Full Stack,300000.0,...,0,0,0,0,1,0,0,0,White,Master's Degree
17268,2/22/2020 10:36:31,Houzz,7,Software Engineering Manager,805000,"Palo Alto, CA",18.0,2.0,Full Stack,245000.0,...,0,0,0,0,0,0,0,0,NaN,Master's Degree

In [138]:
df.nunique()

timestamp                  62561
company                     1631
level                       2923
title                         15
totalyearlycompensation      893
location                    1050
yearsofexperience             65
yearsatcompany                81
tag                         3058
basesalary                   482
stockgrantvalue              612
bonus                        335
gender                         4
otherdetails               12841
cityid                      1045
dmaid                        149
rowNumber                  62642
Masters_Degree                 2
Bachelors_Degree               2
Doctorate_Degree               2
Highschool                     2
Some_College                   2
Race_Asian                     2
Race_White                     2
Race_Two_Or_More               2
Race_Black                     2
Race_Hispanic                  2
Race                           5
Education                      5
dtype: int64

In [139]:
titles_df = df[df["title"]=="Data Scientist"]
titles_df

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,...,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education
419,6/5/2018 14:06:30,LinkedIn,Senior,Data Scientist,233000,"San Francisco, CA",4.0,0.0,Data Analysis,162000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
440,6/8/2018 9:49:25,Microsoft,64,Data Scientist,218000,"Seattle, WA",11.0,11.0,ML / AI,165000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
444,6/8/2018 17:55:09,ebay,26,Data Scientist,180000,"San Jose, CA",10.0,5.0,NaN,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
454,6/10/2018 19:39:35,Twitter,Staff,Data Scientist,500000,"San Francisco, CA",4.0,4.0,ML / AI,200000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
495,6/17/2018 11:39:38,Facebook,5,Data Scientist,370000,"Seattle, WA",8.0,3.0,NaN,190000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62240,3/26/2019 17:25:02,IBM,8,Data Scientist,155000,"Washington, DC",5.0,2.0,ML / AI,141000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62283,6/17/2018 21:07:18,Facebook,E3,Data Scientist,150000,"Singapore, SG, Singapore",0.0,0.0,ML / AI,150000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62285,7/16/2018 20:11:40,ADP,Sr UX Researcher 4,Data Scientist,185000,"Roseland, NJ",8.0,2.0,UX Research,150000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62529,6/12/2018 20:54:06,Google,T6,Data Scientist,685000,"Kirkland, WA",22.0,2.0,ML / AI,221000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62623,8/19/2018 20:31:37,Illumina,Bioinformatics Scientist II,Data Scientist,175000,"San Diego, CA",6.0,2.0,Bioinformatics,135000.0,...,0,0,0,0,0,0,0,0,NaN,NaN

In [140]:
# df1 = titles_df.copy()
# filtered_columns = ["company", "location", "yearsofexperience", "totalyearlycompensation",
#                  "Masters_Degree", "Bachelors_Degree"]
# df2 = df1[filtered_columns]
# # print(df1.shape)
# df2.head()

In [156]:
clean_df= titles_df.drop(columns=['timestamp', 'level', 'yearsatcompany', 'otherdetails', 
                               'Race_Asian', 'Race_White', 'Race_Two_Or_More', 'Race_Black',"gender",'Highschool', 'Some_College',
                              'Race_Hispanic', 'Race', 'Education','cityid','dmaid','rowNumber','tag','bonus','stockgrantvalue','basesalary','title'])
clean_df.head()
#get_dummies/oneHotEncoder on company size and employment type 'Highschool', 'Some_College'

,company,totalyearlycompensation,location,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree
419,LinkedIn,233000,"San Francisco, CA",4.0,0,0,0
440,Microsoft,218000,"Seattle, WA",11.0,0,0,0
444,ebay,180000,"San Jose, CA",10.0,0,0,0
454,Twitter,500000,"San Francisco, CA",4.0,0,0,0
495,Facebook,370000,"Seattle, WA",8.0,0,0,0

In [157]:
import re
form_state_one = r'(\w+\s)*(\w+),\s([A-Z]{2})$'
matches_form_one = clean_df.location.str.contains(form_state_one, flags=re.IGNORECASE, na=False)
no_form_one = clean_df.location.str.contains(form_state_one, flags=re.IGNORECASE, na=False).sum()
print(no_form_one)

form_state_two = r'(\w+\s)*(\w+),\s([A-Z]{2}),\s(\w+)'
matches_form_two = clean_df.location.str.contains(form_state_two, flags=re.IGNORECASE, na=False)
no_form_two = clean_df.location.str.contains(form_state_two, flags=re.IGNORECASE, na=False).sum()
print(no_form_two)


clean_df.location[~matches_form_one & ~matches_form_two]

2226
351

C:\Users\siriu\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\siriu\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:4: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  after removing the cwd from sys.path.
C:\Users\siriu\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:8: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

C:\Users\siriu\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:9: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  if __name__ == '__main__':

9061    Tel Aviv, Israel
Name: location, dtype: object

In [158]:
clean_df.head()

,company,totalyearlycompensation,location,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree
419,LinkedIn,233000,"San Francisco, CA",4.0,0,0,0
440,Microsoft,218000,"Seattle, WA",11.0,0,0,0
444,ebay,180000,"San Jose, CA",10.0,0,0,0
454,Twitter,500000,"San Francisco, CA",4.0,0,0,0
495,Facebook,370000,"Seattle, WA",8.0,0,0,0

In [159]:
def US_location_to_state(city):
    # if input is of the form $###,###,###
    if re.match(form_state_one, city, flags=re.IGNORECASE):

        # remove city name and commas
        state = re.sub('(\w+\s)*(\w+),\s','', city)
        
        # return state
        return state
    # otherwise, return NaN
    else:
        return np.nan
    

def location_to_city(city):
    # if input is of the form $###,###,###
    if re.match(form_state_one, city, flags=re.IGNORECASE):

        # remove city name and commas
        city = re.sub(',\s([A-Z]{2})$','', city)
        
        # return state
        return city
    # otherwise, return NaN
    else:
        return np.nan
clean_df = clean_df.loc[clean_df.location != "Tel Aviv, Israel"]
clean_df

,company,totalyearlycompensation,location,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree
419,LinkedIn,233000,"San Francisco, CA",4.0,0,0,0
440,Microsoft,218000,"Seattle, WA",11.0,0,0,0
444,ebay,180000,"San Jose, CA",10.0,0,0,0
454,Twitter,500000,"San Francisco, CA",4.0,0,0,0
495,Facebook,370000,"Seattle, WA",8.0,0,0,0
...,...,...,...,...,...,...,...
62240,IBM,155000,"Washington, DC",5.0,0,0,0
62283,Facebook,150000,"Singapore, SG, Singapore",0.0,0,0,0
62285,ADP,185000,"Roseland, NJ",8.0,0,0,0
62529,Google,685000,"Kirkland, WA",22.0,0,0,0
62623,Illumina,175000,"San Diego, CA",6.0,0,0,0

In [160]:
clean_df['state'] = clean_df.location.str.extract(f'({form_state_one}|{form_state_two})', flags=re.IGNORECASE)[0].apply(US_location_to_state)

In [161]:
clean_df = clean_df[clean_df['state'].notna()]
clean_df.head()

,company,totalyearlycompensation,location,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree,state
419,LinkedIn,233000,"San Francisco, CA",4.0,0,0,0,CA
440,Microsoft,218000,"Seattle, WA",11.0,0,0,0,WA
444,ebay,180000,"San Jose, CA",10.0,0,0,0,CA
454,Twitter,500000,"San Francisco, CA",4.0,0,0,0,CA
495,Facebook,370000,"Seattle, WA",8.0,0,0,0,WA

In [162]:
clean_df['city'] = clean_df.location.str.extract(f'({form_state_one})', flags=re.IGNORECASE)[0].apply(location_to_city)
clean_df.drop('location', axis=1, inplace=True)
clean_df.drop('city', axis=1, inplace=True)
clean_df.head()

C:\Users\siriu\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\siriu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,company,totalyearlycompensation,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree,state
419,LinkedIn,233000,4.0,0,0,0,CA
440,Microsoft,218000,11.0,0,0,0,WA
444,ebay,180000,10.0,0,0,0,CA
454,Twitter,500000,4.0,0,0,0,CA
495,Facebook,370000,8.0,0,0,0,WA

In [163]:
print(clean_df["company"].value_counts().head(20))

Amazon                 224
Microsoft              202
Facebook               175
Google                  83
Apple                   75
Uber                    60
IBM                     58
Capital One             44
LinkedIn                34
Walmart Labs            33
JPMorgan Chase          31
Netflix                 30
Intuit                  27
Lyft                    25
Booz Allen Hamilton     25
Twitter                 22
Intel                   21
PayPal                  21
Zillow                  21
eBay                    19
Name: company, dtype: int64

In [164]:
company_counts = clean_df['company'].value_counts()
company_counts.head(20)

Amazon                 224
Microsoft              202
Facebook               175
Google                  83
Apple                   75
Uber                    60
IBM                     58
Capital One             44
LinkedIn                34
Walmart Labs            33
JPMorgan Chase          31
Netflix                 30
Intuit                  27
Lyft                    25
Booz Allen Hamilton     25
Twitter                 22
Intel                   21
PayPal                  21
Zillow                  21
eBay                    19
Name: company, dtype: int64

In [165]:
replace_company = list(company_counts[company_counts < 20].index)

# Replace in dataframe
for app in replace_company:
    clean_df.company =  clean_df.company.replace(app,"Other")
    
# Check to make sure binning was successful
clean_df.company.value_counts()

C:\Users\siriu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Other                  1015
Amazon                  224
Microsoft               202
Facebook                175
Google                   83
Apple                    75
Uber                     60
IBM                      58
Capital One              44
LinkedIn                 34
Walmart Labs             33
JPMorgan Chase           31
Netflix                  30
Intuit                   27
Booz Allen Hamilton      25
Lyft                     25
Twitter                  22
PayPal                   21
Zillow                   21
Intel                    21
Name: company, dtype: int64

In [166]:
location_counts = clean_df['state'].value_counts()
location_counts

CA    960
WA    450
NY    254
TX     81
MA     70
IL     48
DC     42
VA     41
NC     33
OR     33
GA     31
CO     23
PA     19
NJ     18
AR     14
OH     14
AZ     13
MI     12
FL     10
MN      9
CT      7
DE      5
UT      4
MD      4
MO      4
IN      4
AL      3
TN      3
ID      3
RI      2
WI      2
NV      2
OK      2
KS      1
KY      1
SC      1
NM      1
MS      1
NH      1
Name: state, dtype: int64

In [167]:
replace_location = list(location_counts[location_counts < 40].index)

# Replace in dataframe
for loc in replace_location:
    clean_df.state =  clean_df.state.replace(loc,"Other")
    
# Check to make sure binning was successful
clean_df.state.value_counts()

CA       960
WA       450
Other    280
NY       254
TX        81
MA        70
IL        48
DC        42
VA        41
Name: state, dtype: int64

In [168]:
clean_dummies = pd.get_dummies(data=clean_df, columns=['company', 'state'])#drop the gender columns?
clean_dummies.head(15)

,totalyearlycompensation,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree,company_Amazon,company_Apple,company_Booz Allen Hamilton,company_Capital One,company_Facebook,...,company_Zillow,state_CA,state_DC,state_IL,state_MA,state_NY,state_Other,state_TX,state_VA,state_WA
419,233000,4.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
440,218000,11.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
444,180000,10.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
454,500000,4.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
495,370000,8.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
499,200000,3.0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
509,340000,11.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
510,690000,10.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
513,600000,3.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
523,168000,8.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
535,187000,4.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
570,225000,11.0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
668,220000,6.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
673,130000,7.0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
740,112000,4.0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0

In [169]:
clean_dummies.corr(method ='kendall')

,totalyearlycompensation,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree,company_Amazon,company_Apple,company_Booz Allen Hamilton,company_Capital One,company_Facebook,...,company_Zillow,state_CA,state_DC,state_IL,state_MA,state_NY,state_Other,state_TX,state_VA,state_WA
totalyearlycompensation,1.000000,0.294166,-0.069762,-0.095127,0.170405,0.081481,0.104330,-0.114728,-0.100134,0.146549,...,0.011713,0.329667,-0.116657,-0.113757,-0.057675,-0.084425,-0.244771,-0.138639,-0.118682,0.072512
yearsofexperience,0.294166,1.000000,0.026833,-0.025244,-0.022686,0.029997,0.056599,-0.011800,-0.022373,0.017763,...,-0.002138,0.008810,0.008624,-0.029496,-0.011554,-0.063661,0.026249,-0.029778,-0.005570,0.046376
Masters_Degree,-0.069762,0.026833,1.000000,-0.188774,-0.238420,-0.005280,0.025574,0.005271,0.020578,0.007142,...,-0.032993,-0.032740,0.018126,0.045501,0.001027,0.032338,0.022908,0.046768,0.005897,-0.050967
Bachelors_Degree,-0.095127,-0.025244,-0.188774,1.000000,-0.126861,-0.033018,-0.009439,0.093899,-0.018256,0.036385,...,0.039499,-0.054028,0.007560,0.047088,-0.024885,0.023772,0.027322,0.066049,0.057783,-0.033673
Doctorate_Degree,0.170405,-0.022686,-0.238420,-0.126861,1.000000,0.029602,0.036710,-0.033955,-0.007475,-0.005534,...,-0.003388,0.039510,-0.041266,-0.021007,0.057685,-0.060371,0.009265,-0.037016,0.005783,0.003254
company_Amazon,0.081481,0.029997,-0.005280,-0.033018,0.029602,1.000000,-0.062460,-0.035649,-0.047500,-0.097708,...,-0.032644,-0.167657,-0.046386,-0.049657,-0.008933,-0.035506,-0.090856,-0.057026,-0.023609,0.381930
company_Apple,0.104330,0.056599,0.025574,-0.009439,0.036710,-0.062460,1.000000,-0.019901,-0.026516,-0.054544,...,-0.018223,0.174216,-0.025895,-0.027721,-0.033646,-0.067015,-0.070830,0.056785,-0.025579,-0.087794
company_Booz Allen Hamilton,-0.114728,-0.011800,0.005271,0.093899,-0.033955,-0.035649,-0.019901,1.000000,-0.015134,-0.031131,...,-0.010401,-0.092807,0.329877,-0.015822,-0.019204,-0.038249,0.023852,-0.020710,0.270746,-0.053647
company_Capital One,-0.100134,-0.022373,0.020578,-0.018256,-0.007475,-0.047500,-0.026516,-0.015134,1.000000,-0.041480,...,-0.013858,-0.117140,0.170070,0.001138,-0.025587,0.060695,-0.053865,0.093051,0.364586,-0.071480
company_Facebook,0.146549,0.017763,0.007142,0.036385,-0.005534,-0.097708,-0.054544,-0.031131,-0.041480,1.000000,...,-0.028506,0.139964,-0.028239,-0.031872,-0.052633,0.010665,-0.105767,-0.021107,-0.040013,-0.026506
company_Google,0.095094,0.018407,-0.076167,0.002840,0.059545,-0.065829,-0.036748,-0.020974,-0.027946,-0.057486,...,-0.019206,0.135035,-0.027291,-0.029216,-0.035461,-0.040800,-0.060350,-0.025581,-0.009324,-0.034119
company_IBM,-0.120135,-0.021665,0.004634,0.076078,-0.031252,-0.054711,-0.030542,-0.017432,-0.023226,-0.047777,...,-0.015962,-0.057018,0.039498,0.014548,-0.029472,0.109824,0.057015,0.028456,-0.022405,-0.075310
company_Intel,-0.045608,0.008541,-0.032993,0.005320,0.073569,-0.032644,-0.018223,-0.010401,-0.013858,-0.028506,...,-0.009524,-0.075598,-0.013533,-0.014488,-0.017584,-0.035024,0.243261,-0.018964,-0.013368,-0.049124
company_Intuit,0.037858,0.045221,0.017690,-0.032767,-0.013556,-0.037065,-0.020691,-0.011809,-0.015735,-0.032367,...,-0.010814,0.102388,-0.015366,0.011804,-0.019966,-0.039768,-0.029656,0.000384,-0.015179,-0.055777
company_JPMorgan Chase,-0.078131,-0.021756,-0.001839,-0.006947,-0.008660,-0.039752,-0.022191,-0.012666,-0.016876,-0.034714,...,-0.011598,-0.103486,-0.016480,-0.017642,-0.021414,0.186441,0.058966,0.038324,-0.016279,-0.059820
company_LinkedIn,0.057052,-0.006642,-0.040960,-0.023358,-0.012989,-0.041659,-0.023256,-0.013273,-0.017686,-0.036379,...,-0.012154,0.143021,-0.017271,-0.018489,-0.022441,-0.044697,-0.047242,-0.024202,-0.017060,-0.062691
company_Lyft,0.089527,-0.017148,-0.032034,0.015515,-0.010423,-0.035649,-0.019901,-0.011358,-0.015134,-0.031131,...,-0.010401,0.079350,-0.014779,-0.015822,0.005223,0.001976,-0.040427,-0.020710,-0.014599,-0.043032
company_Microsoft,0.041657,-0.004600,-0.061836,-0.035908,0.006915,-0.105673,-0.058990,-0.033669,-0.044861,-0.092280,...,-0.030830,-0.211942,-0.043810,-0.046899,0.023728,-0.103541,-0.100969,-0.061390,-0.043275,0.491307
company_Netflix,0.153079,0.030487,-0.033426,-0.020236,0.078894,-0.039096,-0.021825,-0.012457,-0.016598,-0.034141,...,-0.011406,0.134223,-0.016208,-0.017351,-0.021061,-0.041948,-0.044336,-0.022713,-0.016011,-0.058834
company_Other,-0.240956,-0.036937,0.065401,0.014530,-0.049210,-0.306234,-0.170951,-0.097571,-0.130005,-0.267422,...,-0.089344,-0.054156,-0.001001,0.124897,0.114125,0.105484,0.210330,0.072571,-0.038203,-0.305868
company_PayPal,0.004194,0.004148,0.048338,-0.028858,-0.029040,-0.032644,-0.018223,-0.010401,-0.013858,-0.028506,...,-0.009524,0.093303,-0.013533,0.017506,-0.017584,-0.020408,-0.037018,-0.018964,-0.013368,-0.049124
company_Twitter,0.054058,-0.022730,-0.015326,-0.029544,-0.005259,-0.033419,-0.018656,-0.010648,-0.014187,-0.029184,...,-0.009750,0.078054,-0.013855,-0.014832,-0.018002,-0.035857,0.003187,0.004837,-0.013686,-0.050291
company_Uber,0.093531,-0.025273,0.000949,-0.018614,0.012815,-0.055672,-0.031078,-0.017738,-0.023634,-0.048616,...,-0.016242,0.163124,-0.023080,-0.024708,-0.029990,-0.051008,-0.063133,-0.032343,-0.022799,-0.056150
company_Walmart Labs,0.047328,0.016960,0.034041,-0.022605,-0.021847,-0.041033,-0.022906,-0.013074,-0.017420,-0.035832,...,-0.011971,0.073318,-0.017011,-0.018211,-0.022104,-0.044025,0.043147,-0.023838,-0.016804,-0.052492
company_Zillow,0.011713,-0.002138,-0.032993,0.039499,-0.003388,-0.032644,-0.018223,-0.010401,-0.013858,-0.028506,...,1.000000,-0.066215,-0.013533,-0.014488,-0.017584,-0.020408,-0.037018,-0.018964,-0.013368,0.159160
state_CA,0.329667,0.008810,-0.032740,-0.054028,0.039510,-0.167657,0.174216,-0.092807,-0.117140,0.139964,...,-0.066215,1.000000,-0.120758,-0.129274,-0.156907,-0.312523,-0.330314,-0.169218,-0.119285,-0.438332
state_DC,-0.116657,0.008624,0.018126,0.007560,-0.041266,-0.046386,-0.025895,0.329877,0.170070,-0.028239,...,-0.013533,-0.120758,1.000000,-0.020587,-0.024988,-0.049769,-0.052602,-0.026948,-0.018996,-0.069804
state_IL,-0.113757,-0.029496,0.045501,0.047088,-0.021007,-0.049657,-0.027721,-0.015822,0.001138,-0.031872,...,-0.014488,-0.129274,-0.020587,1.000000,-0.026750,-0.053279,-0.056312,-0.028848,-0.020336,-0.074727
state_MA,-0.057675,-0.011554,0.001027,-0.024885,0.057685,-0.008933,-0.033646,-0.019204,-0.025587,-0.052633,...,-0.017584,-0.156907,-0.024988,-0.026750,1.000000,-0.064668,-0.068349,-0.035015,-0.024683,-0.090700
state_NY,-0.084425,-0.063661,0.032338,0.023772,-0.060371,-0.035506,-0.067015,-0.038249,0.060695,0.010665,...,-0.020408,-0.312523,-0.049769,-0.053279,-0.064668,1.000000,-0.136135,-0.069742,-0.049162,-0.180654
state_Other,-0.244771,0.026249,0.022908,0.027322,0.009265,-0.090856,-0.070830,0.023852,-0.053865,-0.105767,...,-0.037018,-0.330314,-0.052602,-0.056312,-0.068349,-0.136135,1.000000,-0.073712,-0.051961,-0.190938
state_TX,-0.138639,-0.029778,0.046768,0.066049,-0.037016,-0.057026,0.056785,-0.020710,0.093051,-0.021107,...,-0.018964,-0.169218,-0.026948,-0.028848,-0.035015,-0.069742,-0.073712,1.000000,-0.026619,-0.097817
state_VA,-0.118682,-0.005570,0.005897,0.057783,0.005783,-0.023609,-0.025579,0.270746,0.364586,-0.040013,...,-0.013368,-0.119285,-0.018996,-0.020336,-0.024683,-0.049162,-0.051961,-0.026619,1.000000,-0.068953
state_WA,0.072512,0.046376,-0.050967,-0.033673,0.003254,0.381930,-0.087794,-0.053647,-0.071480,-0.026506,...,0.159160,-0.438332,-0.069804,-0.074727,-0.090700,-0.180654,-0.190938,-0.097817,-0.068953,1.000000

In [170]:
clean_dummies.to_csv("Cleaned_dataset.csv", sep=',', header=True, encoding='utf-8', index=False)

In [19]:
# #is there linearity between location numerical representation and salary?
# clean_bins2 = clean_bins_df.drop(['location'], axis = 1)
# locations = clean_bins_df['location']
# clean_bins2.head()

In [ ]:
# #Create label Encoder and encode categorical
# from sklearn.preprocessing import LabelEncoder
# lb_make = LabelEncoder()
# clean_bins2['company']= lb_make.fit_transform(clean_bins2['company'])
# clean_bins2['gender']= lb_make.fit_transform(clean_bins2['gender'])

# clean_bins2.head()

In [ ]:
# clean_bins2['gender'].value_counts() #what do we do with 4 genders?