In [18]:
#Dependencies
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import sklearn
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.cluster import KMeans
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [20]:
#read csv into df
clean_bins_df = pd.read_csv("Cleaned_dataset.csv")
# columns to drop... salary_currency, salary, work_year
clean_bins_df.sample(25)

,totalyearlycompensation,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree,company_Apple,company_Capital One,company_Facebook,company_Google,company_IBM,...,city_Walnut Creek,city_Waltham,city_Warren,city_Washington,city_Watertown,city_Wellesley,city_West McLean,city_Wilmington,city_Woonsocket,city_Worcester
1413,216000,5.0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
557,210000,7.0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1792,150000,3.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1275,161000,1.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
971,350000,4.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1458,150000,1.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2032,578000,5.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
347,310000,7.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1978,290000,14.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1341,310000,10.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1344,205000,1.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
771,100000,2.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1979,186000,0.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1795,140000,2.0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1314,250000,3.0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
118,118000,3.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1711,228000,2.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
791,184000,3.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1823,330000,6.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2084,165000,5.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2128,176000,3.0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1779,195000,6.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
714,134000,2.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
417,253000,5.0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1043,156000,3.0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [5]:
# #skip procedural encoding with get_dummies()?
# # clean_dummies = clean_dummies.drop(['gender_2'], axis=1)
# clean_dummies = pd.get_dummies(data=clean_bins_df, columns=['company', 'state', 'city'], drop_first=True)#drop the gender columns?
# clean_dummies.head(15)

,totalyearlycompensation,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree,company_Medium,company_Small,state_AR,state_AZ,state_CA,...,city_Walnut Creek,city_Waltham,city_Warren,city_Washington,city_Watertown,city_Wellesley,city_West McLean,city_Wilmington,city_Woonsocket,city_Worcester
0,233000,4.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,218000,11.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,180000,10.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,500000,4.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,370000,8.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,200000,3.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,340000,11.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,690000,10.0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,600000,3.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9,168000,8.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
10,187000,4.0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,225000,11.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12,220000,6.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
13,130000,7.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,112000,4.0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# #OneHot to new categories
# from sklearn.preprocessing import OneHotEncoder
# enc = OneHotEncoder(sparse=False)
# company_encoded = lb_make.fit_transform(clean_bins2['company'])
# company_encoded = company_encoded.reshape(len(company_encoded), 1)
# onehot_company_encoded = enc.fit_transform(company_encoded)
# print(onehot_company_encoded)

In [21]:
X = clean_dummies.drop(columns=["totalyearlycompensation"])
y = clean_dummies["totalyearlycompensation"]
X.shape
# Scale the dataset using MinMaxScaler()
X_scaled = MinMaxScaler().fit_transform(X)
X_scaled

array([[0.11764706, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.32352941, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.29411765, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.23529412, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.64705882, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.17647059, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [26]:

X = clean_bins_df.drop(columns=["totalyearlycompensation"])
y = clean_bins_df["totalyearlycompensation"]
X.shape
# Scale the dataset using MinMaxScaler()
X_scaled = MinMaxScaler().fit_transform(X)
X_scaled

array([[0.11764706, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.32352941, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.29411765, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.23529412, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.64705882, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.17647059, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [43]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, 
                                                    y, 
                                                    random_state=42)

In [44]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

# Fitting our model with all our features in X
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)


print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.49131595888627366
Testing Score: -1.717719230214165e+23

In [45]:
#LinReg basically could not do better than true random... testing random Forest Regressor
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=42)

In [47]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
# Fitting Random Forest Regression to the dataset
# import the regressor
from sklearn.ensemble import RandomForestRegressor
 
 # create regressor object
regressor = RandomForestRegressor(n_estimators = 100, random_state = 42)
 
# fit the regressor with x and y data
regressor.fit(X, y)

RandomForestRegressor(random_state=42)

In [48]:
Y_pred = regressor.predict(X_test)  # test the output by changing values

In [49]:
training_score = regressor.score(X_train, y_train)
testing_score = regressor.score(X_test, y_test)


print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.7747545308746054
Testing Score: 0.7611261757326399

In [42]:
# RFR model looks pretty good... 
#could we use cross validation and/or decision trees to determine which features are not contributing to the model
#then tune by removing these noise contributors