In [3]:
#Dependencies
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import sklearn
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.cluster import KMeans
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [4]:
#read csv into df
clean_bins_df = pd.read_csv("Cleaned_dataset.csv")
# columns to drop... salary_currency, salary, work_year
clean_bins_df.sample(25)

,company,totalyearlycompensation,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree,state,city
383,Large,185000,8.0,0,0,0,WA,Redmond
674,Small,189000,3.0,1,0,0,CA,San Bruno
1111,Medium,110000,0.0,1,0,0,NY,New York
656,Small,295000,5.0,0,0,0,CA,San Francisco
836,Large,220000,4.0,0,0,0,NY,New York
525,Large,203000,3.0,0,0,1,WA,Redmond
760,Small,213000,3.0,0,0,1,CA,San Diego
1376,Small,209000,7.0,0,0,1,CA,Mill Valley
1733,Large,201000,5.0,1,0,0,WA,Seattle
988,Medium,386000,9.0,0,0,0,CA,San Francisco
2206,Small,120000,1.0,1,0,0,OR,Portland
738,Small,300000,10.0,0,0,1,CA,Sunnyvale
1209,Small,81000,1.0,0,1,0,IL,Bloomington
1038,Large,248000,15.0,1,0,0,WA,Redmond
827,Medium,385000,6.0,1,0,0,CA,Cupertino
854,Large,300000,20.0,1,0,0,CA,San Jose
1094,Small,150000,1.0,0,0,1,MA,Boston
1825,Small,168000,4.0,0,0,0,NY,New York
1676,Small,174000,6.0,0,0,0,CA,San Francisco
491,Small,225000,8.0,1,0,1,WA,Seattle
1214,Large,240000,6.0,1,0,0,WA,Seattle
665,Small,140000,2.0,1,0,0,CA,Santa Clara
2074,Small,130000,7.0,1,0,0,IL,Chicago
1336,Small,169000,7.0,1,0,0,WA,Seattle
580,Medium,210000,0.0,0,0,1,CA,San Francisco

In [5]:
#skip procedural encoding with get_dummies()?
# clean_dummies = clean_dummies.drop(['gender_2'], axis=1)
clean_dummies = pd.get_dummies(data=clean_bins_df, columns=['company', 'state', 'city'], drop_first=True)#drop the gender columns?
clean_dummies.head(15)

,totalyearlycompensation,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree,company_Medium,company_Small,state_AR,state_AZ,state_CA,...,city_Walnut Creek,city_Waltham,city_Warren,city_Washington,city_Watertown,city_Wellesley,city_West McLean,city_Wilmington,city_Woonsocket,city_Worcester
0,233000,4.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,218000,11.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,180000,10.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,500000,4.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,370000,8.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,200000,3.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,340000,11.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,690000,10.0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,600000,3.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9,168000,8.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
10,187000,4.0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,225000,11.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12,220000,6.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
13,130000,7.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,112000,4.0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# #OneHot to new categories
# from sklearn.preprocessing import OneHotEncoder
# enc = OneHotEncoder(sparse=False)
# company_encoded = lb_make.fit_transform(clean_bins2['company'])
# company_encoded = company_encoded.reshape(len(company_encoded), 1)
# onehot_company_encoded = enc.fit_transform(company_encoded)
# print(onehot_company_encoded)

In [6]:
X = clean_dummies.drop(columns=["totalyearlycompensation"])
y = clean_dummies["totalyearlycompensation"]
X.shape
# Scale the dataset using MinMaxScaler()
X_scaled = MinMaxScaler().fit_transform(X)
X_scaled

array([[0.11764706, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.32352941, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.29411765, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.23529412, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.64705882, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.17647059, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, 
                                                    y, 
                                                    random_state=42)

In [8]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

# Fitting our model with all our features in X
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)


print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.4603675545426319
Testing Score: -6.883105032038453e+24

In [9]:
#LinReg basically could not do better than true random... testing random Forest Regressor
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=42)

In [10]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
# Fitting Random Forest Regression to the dataset
# import the regressor
from sklearn.ensemble import RandomForestRegressor
 
 # create regressor object
regressor = RandomForestRegressor(n_estimators = 100, random_state = 42)
 
# fit the regressor with x and y data
regressor.fit(X, y)

RandomForestRegressor(random_state=42)

In [11]:
Y_pred = regressor.predict(X_test)  # test the output by changing values

In [12]:
training_score = regressor.score(X_train, y_train)
testing_score = regressor.score(X_test, y_test)


print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.7409089141030387
Testing Score: 0.7325428098366673

In [13]:
# RFR model looks pretty good... 
#could we use cross validation and/or decision trees to determine which features are not contributing to the model
#then tune by removing these noise contributors